#product .wrapper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#product .wrapper header h1 {
    font-weight: 700;
}

#product .item {
    height: 100%;
}

#product .item .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#product .item .details {
    display: flex;
    align-items: center;
}

#product .item .details img {
    width: 50px;
    height: 50px;
    padding: 2px;
    margin-right: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
}

#product .item .details .name,
#product .item .data .info span:nth-child(1) {
    font-weight: 600;
}

#product .item .data .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

#product .product-update h3 {
    font-weight: 700;
}

#product .product-update .item-update {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#product .product-update .item-update.split {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
}

#product .product-update .item-update input {
    width: 85%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #dad8d8;
}

#product .product-update .item-update .left,
#product .product-update .item-update .right {
    width: 45%;
    display: flex;
    flex-direction: column;
}

#product .product-update .item-update.split input {
    width: 100%;
}

#product .product-update .upload {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#product .product-update .img-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .product-update .img-upload img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 1.5rem;
    object-fit: cover;
}

#product .product-update .img-upload label i {
    cursor: pointer;
}

#product .product-update .upload button {
    color: aliceblue;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    #product .product-update .item-update input,
    #product .product-update .item-update.split {
        width: 100%;
    }
}