#products .wrapper .product,
#products .wrapper .actions {
    display: flex;
    align-items: center;
}

#products .wrapper .product img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

#products .wrapper .actions a {
    color: #fff;
    padding: 3px 5px;
    margin-right: 2rem;
}

#products .wrapper .actions i {
    color: rgb(240, 53, 90);
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s ease;
}

#products .wrapper .actions:hover {
    color: crimson;
}