#sidebar .sidebar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

#sidebar .navbar-toggler:focus {
    box-shadow: 0 0 0 .25rem rgb(13 110 253 / 25%);
}

#sidebar .navbar-toggler-icon i {
    font-size: 1.8rem;
}

#sidebar .offcanvas {
    width: 300px;
}

#sidebar .menu h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(187, 187, 187);
    margin-bottom: .8rem;
}

#sidebar .nav a {
    color: #555;
    padding: .4rem 1rem;
}

#sidebar .nav a.no-route {
    opacity: .5;
    cursor: default;
    pointer-events: none;
}

#sidebar .nav a.active, #sidebar .nav a:hover {
    background-color: rgb(235, 235, 250);
}

#sidebar .nav a i {
    margin-right: .5rem;
}

@media only screen and (max-width: 575px) {
    #sidebar .sidebar-brand,
    #sidebar .navbar-toggler-icon i {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 992px) {
    #sidebar {
        height: 100%;
        display: block;
        border-right: 1px solid #eee;
        overflow-y: auto;
    }
    #sidebar .offcanvas .offcanvas-body {
        display: block;
    }
}