#user header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#user header h1 {
    font-weight: 700;
}

#user .bio {
    height: 100%;
}

#user .user-details {
    display: flex;
    align-items: center;
}

#user .user-details img {
    width: 50px;
    height: 50px;
    margin-right: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
}

#user .user-details .user {
    display: flex;
    flex-direction: column;
}

#user .user-details .user .name {
    font-weight: 600;
}

#user .user-details .user .role {
    font-weight: 300;
}

#user .account-details h4 {
    color: rgb(175, 170, 170);
    font-weight: 600;
    margin-top: 1.25rem;
}

#user .account-details .info {
    display: flex;
    align-items: center;
    color: #444;
    margin: 1.5rem 0;
    flex-wrap: wrap;
}

#user .account-details .info i {
    margin-right: .8rem;
}

#user .user-update h3 {
    font-weight: 700;
}

#user .user-update .bio-update {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#user .user-update .bio-update > input {
    width: 80%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #dad8d8;
}

#user .user-update .upload {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#user .user-update .upload .img-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user .user-update .img-upload img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1.5rem;
    object-fit: cover;
}

#user .user-update .img-upload label i {
    cursor: pointer;
}

#user .user-update .upload button {
    color: aliceblue;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1199px) {
    #user .user-update .img-upload img {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (max-width: 575px) {
    #user .user-update .bio-update > input {
        width: 100%;
    }
}