#about-header {
    background-image: url(../assets/img/about/banner.png);
}

#about .image img {
    width: 100%;
}

#app .heading h2 a {
    color: #088178;
    text-decoration: none;
}

#app .heading h2 a:hover {
    text-decoration: underline;
}

#app .video video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}