#cart-header {
    background-image: url(../assets/img/about/banner.png);
}

#empty-cart .wrapper a {
    text-decoration: none;
}

#cart > div {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 80px;
    text-align: center;
}

#cart table td:nth-child(2),
#cart table td:nth-child(6),
#cart table td:nth-child(7),
#cart table td:nth-child(8) {
    width: 120px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 220px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5) {
    width: 100px;
    text-align: center;
}

#cart table thead {
    border-left: none;
    border-right: none;
    border: 1px solid #e2e9e1;
}

#cart table thead td {
    font-size: 14px;
    font-weight: 700;
    padding: 18px 0;
    text-transform: uppercase;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody tr td:nth-child(1) button {
    border: none;
    background: none;
}

#cart table tbody tr td:nth-child(3) a {
    text-decoration: none;
}

#cart table tbody span.item-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(153, 203, 196);
    cursor: pointer;
}

#cart table td:nth-child(7) select.qty {
    width: 70px;
    padding: 10px 5px 10px 15px;
    margin: 0 auto;
}

#cart table tbody td {
    font-size: 14px;
}

#coupon input {
    width: 60%;
    padding: 13px 20px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #e2e9e1;
}

#subtotal {
    border: 1px solid #e2e9e1;
}

#subtotal table {
    width: 100%;
    border-collapse: collapse;
}

#subtotal table td {
    width: 50%;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #e2e9e1;
}

#subtotal .cart-actions {
    display: flex;
    justify-content: space-between;
}

#subtotal .cart-actions .clear-cart {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
}

@media only screen and (max-width: 991px) {
    #subtotal .cart-actions {
        flex-direction: column;
    }
    #subtotal .cart-actions .base {
        width: 100%;
        margin-bottom: 1rem;
    }
}