#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 72px);
    background-size: cover;
    background-position: top 25% right 0;
    background-image: url(../assets/img/hero4.png);
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero p {
    margin: 15px 0 30px 0;
}

#hero a {
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    padding: 14px 80px 14px 65px;
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../assets/img/button.png);
}

#featured .fea-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#featured .fea-box {
    max-width: 180px;
    padding: 25px 12px;
    margin: 15px 0;
    text-align: center;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .03);
}

#featured .fea-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, .1);
}

#featured .fea-box img {
    width: 100%;
    margin-bottom: 10px;
}

#featured .fea-box h6 {
    display: inline-block;
    color: #088178;
    padding: 9px 7px 6px 7px;
    line-height: 1;
    border-radius: 4px;
    background-color: #fddde4;
}

#featured .fea-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#featured .fea-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#featured .fea-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#featured .fea-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#featured .fea-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/banner/b2.jpg);
}

#banner h4 {
    color: #fff;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#explore .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/banner/b17.jpg);
}

#explore .banner-box.spring {
    background-image: url(../assets/img/banner/b10.jpg);
}

#explore h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#explore h2,
#sale h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#explore span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

#explore button:hover {
    border: 1px solid #088178;
    background-color: #088178;
}

#sale .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    background-size: cover;
    background-position: top center;
    background-image: url(../assets/img/banner/b7.jpg);
}

#sale h3 {
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}

#sale .banner-box.jacket {
    background-image: url(../assets/img/banner/b4.jpg);
}

#sale .banner-box.dresses {
    background-image: url(../assets/img/banner/b18.jpg);
}

@media only screen and (max-width: 767px) {
    #hero .offer h2 {
        font-size: 25px;
        line-height: normal;
    }
    #hero .offer h1 {
        font-size: 40px;
        line-height: normal;
    }
    #hero .offer p {
        font-size: 14px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 320px) {
    #hero .offer h4 {
        font-size: 1rem;
    }
    #hero .offer h2 {
        font-size: 20px;
    }
    #hero .offer h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1199px) {
    #hero {
        background-position: top 30% right 30%;
    }
}