#logister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 72px);
    background-size: cover;
    background-color: #4050a3;
    background-position: center;
    background-image: url(../assets/img/about/banner.png);
}

#logister .card .login-img {
    max-height: 200px;
    object-fit: cover;
}

#logister .card-body h3 {
    font-weight: 700;
}

#logister .card-body .login,
#logister .card-body .register {
    color: #0d6efd;
    background: none;
    border: none;
}