#logister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 72px);
    background-size: cover;
    background-color: #4050a3;
    background-position: center;
    background-image: url(../assets/img/about/banner.png);
}

#logister .wrapper {
    display: flex;
}

#logister .card .login-img {
    max-height: 200px;
    object-fit: cover;
}

#logister .card .reg-img {
    height: 100%;
    object-fit: cover;
    object-position: right;
}

#logister .card-body h3 {
    font-weight: 700;
}

#logister .card-body .login,
#logister .card-body .register {
    color: #0d6efd;
    background: none;
    border: none;
}

@media only screen and (max-width: 767px) {
    #logister .wrapper {
        flex-direction: column;
    }
    #logister .card .reg-img {
        object-position: center;
    }
}

@media only screen and (max-width: 575px) {
    #logister .card-body label {
        font-size: .8rem;
    }
    #logister .card-body input {
        font-size: .875rem;
        padding: .25rem .5rem;
        border-radius: .2rem;
    }
    #logister .card-body p {
        font-size: 14px;
    }
}