#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d4d9ed;
    z-index: 999;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#navbar li {
    padding: 0 15px;
    list-style: none;
    position: relative;
}

#navbar li a {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    text-decoration: none;
    transition: .3s ease;
}

#navbar li.nav-li a:hover,
#navbar li.nav-li a.active,
#nav-cart a:hover,
#nav-cart a.active {
    color: #088178;
}

#navbar li.nav-li a:hover::after,
#navbar li.nav-li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li.login,
#navbar li.image {
    padding: 0 5px 0 45px;
}

#navbar li.register,
#navbar li.logout {
    padding: 0 0 0 15px;
}

#navbar li.auth-li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#navbar li.auth-li a {
    font-size: 12px;
    color: aliceblue;
}

#navbar li.auth-li button {
    font-size: 10px;
    font-weight: 700;
    padding: 10px 6px;
    color: aliceblue;
}

#nav-cart a {
    position: relative;
}

#nav-cart a span.qty {
    position: absolute;
    top: -10px;
    left: 10px;
}

#close-btn {
    display: none;
}

#menu-btn {
    display: none;
}

#user-alert {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

@media only screen and (max-width: 1100px) {
    #nav {
        padding: 1rem 4rem;
    }
}

@media only screen and (max-width: 991px) {
    #nav {
        padding: 1rem 1.5rem;
    }
    #navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 300px;
        height: 100vh;
        padding: 90px 0 0 10px;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #d4d9ed;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
        overflow-y: auto;
        transition: .3s ease;
    }
    #navbar.active {
        right: 0;
    }
    #navbar li {
        margin-bottom: 3rem;
    }
    #navbar li:nth-child(7),
    #navbar li:nth-child(8) {
        padding-left: 15px;
    }
    #nav-cart {
        display: none;
    }
    #menu-btn {
        display: flex;
        z-index: -10;
    }
    #menu-btn a {
        color: #1a1a1a;
        position: relative;
    }
    #menu-btn i {
        font-size: 1.2rem;
        padding-left: 30px;
        cursor: pointer;
    }
    #menu-btn a:hover,
    #menu-btn a.active {
        color: #088178;
    }
    #menu-btn a span.qty {
        position: absolute;
        top: -10px;
        left: 40px;
    }
    #close-btn {
        display: initial;
        color: #222;
        font-size: 1.2rem;
        position: absolute;
        top: 30px;
        left: 30px;
        cursor: pointer;
    }
}