#pagination {
    display: flex;
    justify-content: center;
}

#pagination nav .tag {
    color: #088178;
}

#pagination nav .page-item.active a {
    color: #fff;
    border-color: #088178;
    background-color: #088178;
}