#product .image img {
    width: 100%;
}

#product .details h6 {
    font-size: 1rem;
    font-weight: normal;
}

#product .details .color-size {
    display: flex;
}

#product .details .color {
    display: flex;
    align-items: center;
}

#product .details button.item-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(153, 203, 196);
    cursor: pointer;
}

#product .details button.item-color:focus {
    filter: brightness(.8);
}

#product .details .alert {
    display: flex;
}

#product .details .add-to-cart {
    display: flex;
}

#product .details .add-to-cart select.qty {
    width: 70px;
    height: 51px;
    display: inline-block;
    margin-right: 1rem;
}